footer {
    left: 0;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.property{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    color: #FFF;
}

.property h2{
    margin-left: 10px;
    font-weight: bold;
}

.icon {
    height: 40px;
    width: 40px;
    background-color: #1C1C1C;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_apps{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile_apps form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile_apps form h2{
    font-weight: bold;
    color: #FFF;
    margin-bottom: 10px;
}

.profile_apps form input{
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
}

.profile_apps form textarea{
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
}

.button {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button button{
    height: 60px;
    width: 45%;
    font-weight: bold;
    background-color: #1C1C1C;
    color: #FFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-icon {
    color:#FFF;
    font-size:22pt;
    margin-right: 10px;
}